@font-face {
    font-family: 'LexendGiga';
    src: url(../assets/font/Lexend_Giga_Font/LexendGiga-VariableFont_wght.ttf);
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.caja {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 33px 100px;
    }


.img_equipo{
width: 50%;
border-radius: 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 100px 50px 33px 95px;
}

.img_index {
    width: 18vw;
    height: 28vw;
    border-radius: 5%;
    border-color: #EA7634;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.formulario_login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_login {
    font-family: 'LexendGiga' ;
    text-align: right;
    padding-top: 5%;
   
}

.caja_formulario{
    position: relative;
    width: 100% inherit;
    z-index: 1;
    margin-bottom: 10px;
}

input {
    font-family: 'LexendGiga';
    font-size: 15px;
    line-height: 1.5;
    display: block;
    width: 90% inherit;
    height: 40px;
    padding: 0 30px 0 68px;
    border-radius: 23px;
    border-style: solid;
    border-color: #EA7634;
}

input[type='submit'] {
    font-family: 'LexendGiga';
    border: 1 px solid #EA7634;
    font-size:medium;
    border-radius: 20px;
    display: flex;
    align-content: center;
    margin-top: 10%;
    width: 8em;
}

