@font-face {
    font-family: 'LexendGiga';
    src: url(../assets/font/Lexend_Giga_Font/LexendGiga-VariableFont_wght.ttf);
}
.img_equipo {
    margin-left: 10%;
}

.img_index {
    width: 18vw;
    height: 28vw;
    border-radius: 2%;
    border-color: #EA7634;
    border-style: solid;
}

.formulario_login {
    justify-content: center;
}

.form_login {
    font-family: 'LexendGiga' ;
    justify-content: center;
}

input {
    border-radius: 3%;
    border-style: solid;
    border-color: #EA7634;
}

label {
    text-align:right;
}

#submit {
    font-family: 'LexendGiga';
}