@font-face {
    font-family: 'LexendGiga';
    src: url(../assets/font/Lexend_Giga_Font/LexendGiga-VariableFont_wght.ttf);
}

.caja {
    width: 100%;
}

.img_equipo{
width: 50%;
border-radius: 10px;
overflow: hidden;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 177px 130px 33px 95px;
}

.img_index {

    width: 18vw;
    height: 28vw;
    border-radius: 5%;
    border-color: #EA7634;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.formulario_login {
    width: 50%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_login {
    font-family: 'LexendGiga' ;
    text-align: right;
    padding-top: 5%;
   
}

input {
    border-radius: 23px;
    border-style: solid;
    border-color: #EA7634;
}

.form_login input[type='submit'] {
    font-family: 'LexendGiga';
    border: 1 px solid #EA7634;
    font-size:medium;
    border-radius: 20px;
    margin-top: 10%;
    margin-right: 25%;
    width: 8em;
}

